@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: theme("spacing.2");
}
::-webkit-scrollbar-track {
  background: theme("colors.base");
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.grey");
  @apply rounded-xl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.grey");
}

body {
  color: white;
}
